*{
    margin : 0;
    padding: 0;
}
.header{
    display: flex;
    padding: 10px;
    background-color: rgb(15, 11, 11);
    height: 416px;
    background-image: url('../Assets/gallary/header-background.jpg');
    background-size: 100% 100%;
}

.logo-image{
    margin-top: 40px;
    margin-left: 40px;
    height: 60px;
}

.navbar{
    width: 100%;
    align-items:center;
    margin-top: 0px;
    justify-content: space-between;
}
nav{
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.row{
    display: flex;
    justify-content: center;

    
    @media  screen and (min-width : 425px) {
     display : flex;
     flex-direction : column;   
    }
}

.image{
    height: 329.15px;
    width: 562.4px;

}

.titles{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}

.title-content{
    color: white;
    width : 562.4px;
    padding: 51.8px 25.9px;
    font-size: 22px;
    font-family: gt-sectra;
    flex-basis: 100%;
}

/* footer  */
.figcaption{
    margin-left: 10px;
    color: #fff;
    font-family: sans-serif;
    margin-top: 1rem;
    line-height: 1.1;
}

.figcaption-location {
    margin-left: 10px;
    color: lightgray;
    opacity: 0.7;
}

.footer{
    display: flex;
    height: 12cm;
    background-color: rgba(14, 19, 16, 0.911);
    padding-top: 100px;
    padding-left: 120px;
    padding-right: 50px;
    justify-content: space-between;
}

.footer-text{
    color: white;
    text-decoration :none;
}

.footer-logo{
    align-self: left;
}

.footer-logo-image {
    height: 49px;
    width: 49px;
}

li{
    list-style: none;
    font-size: 15px;
    margin-top: 0.9rem;
}

