*{
    margin : 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.background-container{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.header-section{
 position: absolute;
 top: 0;
}
.bg-image{
    position: relative;
    height: 100%;
    width: 100%;
}

.nav-text-content{
    color: rgb(255, 255, 255) !important;
    font-size: medium;
}

.latest-news{
    position: relative;
    background-color: rgb(243, 242, 242);
}
.latest-news-text{
    padding-top: 5%;
    padding-bottom: 5%;
}

.news-heading{
    padding-left: 15%;
    font-size: 2.5rem;
}

.latest-news-images{
    padding-left: 10%;
    padding-right: 10%;
}

.latest-news-image{
    width: 75%;
    height: 100vh;
}

.white-box{
    top : 30%;
    right: 5%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 35%;
}

.white-box-text{
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.news-news{
    font-size: 1rem;
}

.heading-para{
    font-size: 2.5rem;
    line-height: 120%;
}

.news-text{
    font-size: 1rem;
    line-height: 200%;
}

.next-page-buttons{
    padding-top: 5%;
    padding-bottom: 3%;
}
.page-buttons{
    display: flex;
    justify-content: center;
}
.left-button{
    padding-right: 1%;
}
.right-button{
    padding-left: 1%;
}

.press-header{
    padding-top: 3%;
    padding-bottom: 3%;
}

.press-header-text{
    padding-left: 10%;
    font-size: 2rem;
}

.press-contents{
    padding-left: 10%;
    padding-right: 10%;
}

.para-press-text{
    font-size: 1.5rem;
}

.row-2{
    padding-top: 10%;
    padding-bottom: 10%;
}